.theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;

    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.theme-wrapper > h2 {
    font-size: 20px;
    color: #2f4f8e;
}

.theme-wrapper__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.theme-wrapper__buttons > button:last-child {
    background-color: #c10202;
}