.left-panel {
    width: 400px;
    height: 100vh;
    background-color: #edf0f8;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
}

.link-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-wrapper > h2 {
    color: #2F4F8EFF;
    font-weight: 700;
    font-size: 30px;
    margin: 80px 0;

}
.links {
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.nav-button {
    width: 200px;
    margin-top: 30px;

}


