.left-panel {
    width: 20%;
    background-color: #edf0f8;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}


.link-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px auto;
}

.user-panel__h2 {
    color: #2F4F8EFF;
    font-weight: 700;
    font-size: 30px;
    margin: 120px auto 20px auto;
}
.links {
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.nav-button {
    width: 200px;
    margin-top: 30px;

}

.admin-panel__h2 {
    text-align: center;
    color: #2F4F8EFF;
    font-weight: 700;
    font-size: 20px;
    margin: 120px auto 20px auto;
}


@media screen and (min-width: 900px) and (max-width: 1500px){
    .admin-panel__h2 {
        font-size: 15px;
    }
    .link {
        width: 50%;
        font-size: 11px;
    }

    .nav-button {
        width: 50%;
        font-size: 11px;
    }
}

@media screen and (min-width: 300px) and (max-width: 899px) {
    .left-panel {
        width: 100%;
        bottom: 0;
        height: 100px;
    }

    .link-wrapper > h2 {
        display: none;
    }
}