.header {
    background-color: #2F4F8EFF;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 100;
    position: fixed;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.12);
}

.logo {
    text-align: center;
    display: flex;
    flex: 1 1 0;
    justify-content: left;
    align-items: center;
    margin-left: 50px;
}

.logo > h2 {
    color: white;
}
.user-info {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.user-info > a {
    color: white;
    font-size: 15px;
}

.avatar {
    font-size: 20px;
    margin-left: 100px;
    color: white;
    background-color: #46c9f1;
    padding: 10px 10px;
    border-radius: 50%;

}

@media screen and (min-width: 300px) and (max-width: 899px){

    .user-info {
        width: 60%;
        justify-content: space-around;
        align-items: center;
    }
    .user-info > a {
        font-size: 10px;
        margin-right: 15px;
    }
    .logo {
        margin: 0 auto;
        width: 30%;
        flex: 0 0 0;
    }
    .avatar {
        margin: 0 auto;
    }

    .logo > h2 {
        font-size: 10px;
    }

    .user-info > p {
        font-size: 10px;
    }
    .name-text {
        width: 40%;
        margin-right: 15px;
    }

}