.form-container {
    width: 50%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.right-panel > h2 {
    color: #2F4F8EFF;
    font-weight: 700;
    font-size: 30px;
    margin: 50px auto 10px auto;
}

.form-container > button {
    margin: 10px auto 30px auto;
}

@media screen and (min-width: 300px) and (max-width: 899px) {
    .right-panel > h2 {
        font-size: 20px;
    }

    .form-container {
        width: 89%;
        height: 55vh;
        overflow-y: scroll;
        justify-content: start;
    }
}
