.message-text {
    width: 100%;
    height: 200px;

    border-radius: 10px;
    padding: 20px;

    white-space: pre-wrap;
    overflow-wrap: break-word;
    line-height: 1.5;
    box-sizing: border-box;
    resize: none;
    border: none;
    font-family: 'Montserrat', serif;
    font-size: 18px;
}

.message-text:focus {
    outline: 1px solid rgba(46, 57, 147, 0.24);
}

.message-text::-webkit-scrollbar {
    width: 12px; /* Ширина ползунка */
}

.message-text::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Цвет трека (фона) ползунка */
}

.message-text::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.39); /* Цвет ползунка */
    border-radius: 10px;
    cursor: pointer; /* Скругленные углы ползунка */
}

.message-text::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет ползунка при наведении */
}


body{
    background: none repeat scroll 0% 0% #EFEFEF;
}
.wrapper{
    background: none repeat scroll 0% 0% #FFFFFF;
    margin: 150px auto;
    border: 2px solid #3DA8BA;
    padding: 10px;
    width: 500px;
}
fieldset{
    border:2px solid #efefef;
}
#filedrag{
    border-radius: 7px 7px 7px 7px;
    border: 2px dashed #3DA8BA;
    color: #555555;
    cursor: default;
    display: none;
    margin: 1em 0pt;
    padding: 1em 0pt;
    text-align: center;
    background:#f9f9f9;
}
#filedrag.hover {
    border-style: solid;
    box-shadow: 0pt 3px 4px #dbdbdb inset;
}
#messages{
    margin-top:10px;
    padding:5px;
    font-size:14px;
}
#messages p{
    border-bottom:1px solid #efefef;
    margin-bottom:5px;
}

.form {
    width: 60%;
}

.input__wrapper {
    width: 100%;
}